nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 5px solid #c3faff; /* Add thick red border */
    border-radius: 0; /* Make the border rounded to form a square with rounded corners */
    background-color: #268da6;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #268da6;
}

body {
    font-family: 'Artial', sans-serif; /* Cool non-serif font */
    color: #f2f2f2;
    background-color: #262626;
    margin: 0;
    padding: 0;
}

h1 {
    color: #f2f2f2;
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    color: #f2f2f2;
    border-bottom: 2px solid #1a1a1a;
    padding-bottom: 10px;
    margin-top: 40px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

button {
    background-color: #268da6;
    color: #f2f2f2;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #268da6;
}

.button-loading {
    pointer-events: none;
    color: transparent;
    position: relative;
}

.button-loading::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -8px 0 0 -8px;
    width: 16px;
    height: 16px;
    border: 2px solid #f2f2f2;
    border-top-color: transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

.container {
    position: relative;
    max-width: 800px;
    margin: 20px auto 30px auto; /* Adjust the top margin */
    padding: 20px;
    background-color: #1a1a1a;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border: 5px solid #268da6; /* Add thick red border */
    border-radius: 25px; /* Make the border rounded to form a square with rounded corners */
    z-index: 1;
    transition: margin 0.3s ease-out;
}

.query-section, .response-section, .documents-section {
    margin: 20px;
}

.directory-section {
    top: 70px;
    bottom: 70px;
    position: fixed;
    right: 0;
    width: 800px;
    height: calc(100% - 140px); /* Subtract the total of top and bottom from 100% */
    overflow-y: auto;
    background-color: #1a1a1a;
    border-left: 1px solid #ccc;
    padding: 20px;
    border: 5px solid #268da6;
    border-radius: 25px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    z-index: 1;
    transform: translateX(100%);
    transition: transform .6s ease-out;
}

.directory-section.open {
    transform: translateX(0);
}

.directory-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px; /* Add this line */
}

.login-container, .signup-container {
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    background-color: #1a1a1a;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: margin 0.6s ease-out;
}

.law-section {
    top: 70px; /* Adjust the top property */
    bottom: 70px;
    position: fixed;
    left: 0px;
    width: 330px;
    height: calc(100% - 140px); /* Subtract the total of top and bottom from 100% */
    overflow-y: auto;
    background-color: #1a1a1a;
    border-right: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    border: 5px solid #268da6; /* Add thick red border */
    border-radius: 25px; /* Make the border rounded to form a square with rounded corners */
    z-index: 1;
    transform: translateX(-100%);
    transition: transform 0.6s ease-out;
}

.law-section.open {
    transform: translateX(0);
}

.law-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

#loginForm, #signupForm {
    margin: 50px auto;
    flex-direction: column;    
}

#loginForm input, #signupForm input {
    width: 100px; /* or any specific width you want */
}

#closeArticles {
    position: absolute;
    left: 20px;
}

#closelawSelector {
    position: absolute;
    right: 20px;
}

#loginUsername, #loginPassword, #signupUsername, #signupPassword {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#directory {
    margin-top: 20px;
}

#progress-bar {
    margin-top: 50px; /* Adjust this value as needed */
    background-color: #268da6;
    height: 5px;
    width: 0%;
    transition: width 0.1s ease-out;
}

#output, #documents, #directory {
    text-align: justify;
}
.thumbs {
    text-align: center;
}
.directory_toggle {
    text-align: center;
}
.query-section {
    text-align: center;
}

#question {
    align-self: center;
}

.directory-header {
    text-align: center;
}

#logo {
    width: 200px; /* Increased the size of the square */
    height: 200px; /* Increased the size of the square */
    margin: 0 auto;
    display: block;
    border: 5px solid #268da6; /* Add thick red border */
    border-radius: 25px; /* Make the border rounded to form a square with rounded corners */
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #262626;
    color: #f2f2f2;
    text-align: center;
    z-index: 0;
}
