<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LexMagic</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.1.2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <script src="https://unpkg.com/htmx.org"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/ws.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body class="bg-gray-300 flex flex-col min-h-screen">
    <header class="bg-purple-700 text-white py-2 px-4 mb-4 shadow-md">
        <div class="flex justify-between items-center">
            <a href="/" class="font-bold text-2xl text-white mb-2 md:mb-0">
                <i class="fas fa-magic pr-2"></i>LexMagic
            </a>
            <nav>
                <ul class="flex flex-col md:flex-row space-y-2 md:space-y-0 md:space-x-4 items-center">
                    <li><button hx-get="/toggle-microphone" hx-swap="innerHTML" hx-trigger="click" class="text-white hover:text-blue-500 font-bold py-2 px-4 rounded">
                        <i class="fas fa-microphone"></i>
                    </button></li>
                    <li><a href="/magicsearch" class="text-white font-bold py-2 px-4 rounded">MagicSearch</a></li>
                    <li><a href="/login" class="text-white font-bold py-2 px-4 rounded">Login</a></li>
                </ul>
            </nav>
        </div>
    </header>


    <div class="container mx-auto px-4">
        
        <div class="query-section text-center border-2 border-gray-300 rounded-lg p-4">
            <h2 class="text-2xl font-bold mb-4">Find a law or case that says " . . . "</h2>
            <div class="query-section">
                <input type="text" name="query" id="question" hx-post="/vector_search" hx-target="#output" hx-swap="innerHTML" hx-trigger="keyup" placeholder="Enter your search terms here..." class="px-3 py-2 placeholder-gray-300 border rounded-lg focus:shadow-outline max-w-full lg:w-auto" style="width: 800px;">
            </div>
        <div class="response-section mt-8 text-center border-2 border-gray-300 rounded-lg p-4">
            <h2 class="text-2xl font-bold mb-4">Answer</h2>
            <p id="output" class="text-lg">Your answer will appear here.</p>
        </div>
        <div class="feedback-section mt-8 text-center border-2 border-gray-300 rounded-lg p-4">
            <h2 class="text-2xl font-bold mb-4 mt-4">Was this answer helpful?</h2>
            <div class="thumbs mt-4">
                <button " class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">👍</button>
                <button " class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded ml-4">👎</button>
            </div>
        </div>
    </div>
    <footer class="flex justify-center items-center">
        <p>© 2023 LexMagic. All rights reserved.</p>
    </footer>
    <script src="/static/scripts.js"></script>   

</body>

</html>
